__author__ = 'DataRobot'

from setuptools import setup
from distutils.cmd import Command
import subprocess
import sys

def readme():
    with open('README.rst') as f:
        return f.read()

class BaseCommand(Command):
    user_options = []

    def initialize_options(self):
        pass

    def finalize_options(self):
        pass

class RunDepCommand(BaseCommand):
    description = "install runtime dependencies"
    def run(self):
        cmd = ["pip", "install", "-r", "requirements.txt"]
        ret = subprocess.call(cmd)
        sys.exit(ret)

class TestDepCommand(BaseCommand):
    description = "install runtime dependencies"
    def run(self):
        cmd = ["pip", "install", "-r", "test_requirements.txt"]
        ret = subprocess.call(cmd)
        sys.exit(ret)

class BuildDepCommand(BaseCommand):
    description = "install runtime dependencies"
    def run(self):
        cmd = ["pip", "install", "-r", "build_requirements.txt"]
        ret = subprocess.call(cmd)
        sys.exit(ret)

def get_command_class():
    base = {}
    base['run_deps'] = RunDepCommand
    base['test_deps'] = TestDepCommand
    base['build_deps'] = BuildDepCommand
    return base

setup(
  name='{{ project_name }}',
  version=0.1,
  cmdclass=get_command_class(),
  description='Automatic Build Environment Generator',
  long_description=readme(),
  author='datarobot',
  author_email='datarobot@datarobot.com',
  packages=['{{ project_name }}'],
  package_dir={'{{ project_name }}': 'src/{{ project_name }}'},
  package_data={
    '': ['*.rst'],
  },
)
